.form-child {
  display: grid;
  padding: 0.5em;
}

/* allow absolute position for icons */
.form-child:has(input) {
  position: relative;
}

/* header */
.form-child:first-child {
  font-size: 1.1em;
  grid-template-columns: 1fr;
  justify-self: center;
}

/* email input */
.form-child:nth-child(2) {
  grid-template-columns: 0.45fr 1fr 0.05fr;
}

/* password inputs */
.form-child:nth-child(3),
.form-child:nth-child(4) {
  grid-template-columns: 0.45fr 1fr 0.05fr;
  grid-template-rows: repeat(2, 0.5fr);
}

/* error message and submit button */
.form-child:nth-child(5),
.form-child:nth-child(6) {
  grid-template-columns: 1fr;
}

.form-child:nth-child(6) {
  place-self: center;
}

/* link */
.form-child:last-child {
  grid-template-columns: 0.5fr 1fr;
}

input {
  border: 2px solid var(--secondary);
  border-radius: 10px;
  background-color: var(--text);
  padding: 0.5em;
}

input:focus {
  background-color: var(--text);
}

/* show "invalid" styles only when user begins to fill invalid data */
input:not(:placeholder-shown) {
  animation: 0.4s 0.2s forwards change-invalid-input-color 1 normal;
}

input:valid,
:-webkit-autofill:valid {
  animation: 0.4s 0.2s forwards change-valid-input-color 1 normal;
}

[class$="warning"],
[class$="check-circle"] {
  visibility: hidden;
  position: absolute;
  top: 28%;
  right: 3.7em;
  transform: translateY(-50%);
}

:global(.login-warning),
:global(.login-check-circle) {
  top: 50%;
  right: 5.5em;
}

/* apply a different top value to email input icons to align them correctly */
.form-child:nth-child(2) > .icons-container > [class$="warning"],
.form-child:nth-child(2) > .icons-container > [class$="check-circle"] {
  top: 50%;
}

/* show warning icon when input is "invalid" */
input:not(:placeholder-shown) ~ .icons-container > [class$="warning"],
input:valid.invalid ~ .icons-container > [class$="warning"],
input:valid:global(.invalid) ~ .icons-container > [class$="warning"],
input[type="email"]:not(:placeholder-shown)
  ~ .icons-container
  > [class$="warning"] {
  animation: 0.4s 0.2s forwards show-icon 1 normal;
}

/* hide warning icon */
input:valid ~ .icons-container > [class$="warning"],
input[type="email"]:valid ~ .icons-container > [class$="warning"] {
  animation: 0.4s 0.2s forwards show-icon 1 reverse;
}

/* show check icon */
input:valid ~ .icons-container > [class$="check-circle"] {
  animation: 0.4s 0.2s forwards show-icon 1 normal;
}

/* hide check icon when passwords are unequal */
input:valid:global(.invalid) ~ .icons-container > [class$="check-circle"] {
  animation: 0.4s 0.2s forwards show-icon 1 reverse;
}

@keyframes change-invalid-input-color {
  100% {
    /* set background color when autofill */
    box-shadow: 0 0 0px 1000px #f87171 inset;
    -webkit-box-shadow: 0 0 0px 1000px #f87171 inset;
    border: 2px solid #dc2626;
  }
}

@keyframes change-valid-input-color {
  100% {
    /* same as above */
    box-shadow: 0 0 0px 1000px var(--accent) inset;
    -webkit-box-shadow: 0 0 0px 1000px var(--accent) inset;
    border: 2px solid #16a34a;
  }
}

@keyframes show-icon {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 500px) {
  /* email input */
  .form-child:nth-child(2) {
    grid-template-columns: repeat(2, 1fr) 0.01fr;
    grid-template-rows: 0.5fr 1fr 0.01fr;
  }

  .form-child:nth-child(3),
  .form-child:nth-child(4) {
    grid-template-columns: repeat(2, 1fr) repeat(2, 0.01fr);
    grid-template-rows: 0.5fr 1fr 0.01fr;
  }

  /* submit button */
  .form-child:nth-child(6) {
    grid-column: 1/5;
  }

  .form-child:nth-child(6) {
    justify-self: center;
  }

  /* link */
  .form-child:last-child {
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 1199px) {
  .form-child:nth-child(2) > label,
  .form-child:nth-child(2) > input {
    grid-column: 1/4;
  }

  .form-child:nth-child(3) > label,
  .form-child:nth-child(3) > input,
  .form-child:nth-child(4) > label,
  .form-child:nth-child(4) > input {
    grid-column: 1/5;
  }

  /* submit button */
  .form-child:nth-child(6) {
    grid-column: 1;
    justify-self: center;
  }

  .form-child:last-child > span,
  .form-child:last-child > a {
    justify-self: center;
    grid-column: 1/3;
  }

  /* adjusting register password input icons position */
  input:not(:placeholder-shown) ~ .icons-container > [class$="warning"],
  input:valid ~ .icons-container > [class$="check-circle"] {
    top: 41%;
    right: 2.5em;
  }

  /* adjusting email input and login input icons position */
  .form-child:nth-child(2) > .icons-container > [class$="warning"],
  .form-child:nth-child(2) > .icons-container > [class$="check-circle"],
  input:not(:placeholder-shown) ~ .icons-container > :global(.login-warning),
  input:valid ~ .icons-container > :global(.login-check-circle) {
    top: 65%;
  }
}
