.form-container {
  width: 33vw;
  margin: auto;
  border-radius: 10px;
  background-color: var(--primary);
  box-shadow: 0 0 32px var(--primary);
  -webkit-box-shadow: 0 0 32px var(--primary);
  color: #000000;
}

.error-message {
  color: #400707;
  text-align: center;
}

a:hover {
  text-decoration: none;
  transition-duration: 0.4s;
}

.form-button {
  padding: 0.5em;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  background-color: var(--text);
}

.form-button:hover,
.form-button:active {
  animation: 0.4s 0.2s forwards change-button-color 1 normal;
}

.form-link {
  color: #000000;
  text-decoration-color: #000000;
}

@keyframes change-button-color {
  100% {
    background-color: var(--background);
    border: 2px solid var(--text);
    color: var(--text);
  }
}

@media (max-width: 1200px) {
  .form-container {
    width: 90vw;
  }

  .form-child:first-child {
    margin-bottom: 0.5em;
  }

  input {
    width: 50%;
    flex: 1;
  }
}

@media (max-width: 500px) {
  form {
    gap: 20px;
  }

  .form-child:not(:first-child) {
    flex-direction: column;
  }

  input {
    width: 100%;
  }

  .form-button {
    width: 50%;
  }
}
