.form-container {
  min-width: 40vw;
  margin: auto;
  border-radius: 10px;
  background-color: var(--primary);
  box-shadow: 0 0 32px var(--primary);
  -webkit-box-shadow: 0 0 32px var(--primary);
  color: #000000;
}

.error-message {
  color: #400707;
  text-align: center;
}

a:hover {
  text-decoration: none;
  transition-duration: 0.4s;
}

.form-button {
  padding: 0.5em;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  background-color: var(--text);
}

.form-button:hover,
.form-button:active {
  animation: 0.4s 0.2s forwards change-button-color 1 normal;
}

.form-link {
  color: #000000;
  text-decoration-color: #000000;
}

@keyframes change-button-color {
  100% {
    background-color: var(--background);
    border: 2px solid var(--text);
    color: var(--text);
  }
}

  .form-container {
@media (max-width: 1199px) {
    min-width: 90vw;
  }

  /* this style applies to devices between 501px and 1199px
     e.g. (phones in horizontal mode, tablet or laptop screens) */
  @media (min-width: 501px) {
    /* prevent form container from being next to top screen edge */
    .login-form-container,
    .register-form-container {
      margin: 1em auto;
    }
  }
}
