.content {
  flex: 1 0 auto;
}

.footer-container {
  flex-shrink: 0;
}

header,
.content,
footer {
  padding: 1em;
}

.navbar {
  display: flex;
  gap: 15px;
}

.user-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
}

.nav-button {
  padding: 1em 1.5em;
  border: 1px solid var(--background);
  border-radius: 10px;
}

.login {
  margin-left: auto;
}

.login,
.logout {
  background-color: var(--secondary);
  color: var(--text);
}

.register {
  background-color: var(--primary);
  color: #000000;
}

.content > p {
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
}

.footer-container {
  background-color: var(--secondary);
}

.footer {
  display: flex;
  gap: 20px;
}

@media (max-width: 500px) {
  strong {
    margin-bottom: 50px;
  }

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .user-container {
    flex-direction: column;
    margin-left: unset;
  }

  .nav-button {
    padding: 0.75em 0.37em;
  }

  .login,
  .logout {
    margin-left: 0;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .content > p {
    grid-row: 2 / 3;
  }
}

@media (min-width: 1000px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
