[class*="visibility"] {
  position: absolute;
  transform: translateY(-50%);
}

[class*="visibility"]:hover {
  cursor: pointer;
}

.register-visibility,
.register-visibility-off {
  top: 28%;
  right: 2.2em;
}

.login-visibility,
.login-visibility-off {
  top: 50%;
  right: 3.7em;
}

@media (max-width: 1199px) {
  .register-visibility,
  .register-visibility-off {
    top: 41%;
    right: 1em;
  }

  .login-visibility,
  .login-visibility-off {
    top: 65%;
    right: 1em;
  }
}
