:global(.password-strength-meter) {
  grid-column: 2;
  grid-row: 2;
}

:global(.password-strength-meter-progress) {
  appearance: none;
  height: 8px;
  width: 99%;
}

:global(.password-strength-meter-progress)::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 3px;
}

:global(.password-strength-meter-progress)::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100%, 100%;
}

:global(.strength-Weak)::-webkit-progress-value {
  background-color: #f87171;
}

:global(.strength-Fair)::-webkit-progress-value {
  background-color: #fde047;
}

:global(.strength-Good)::-webkit-progress-value {
  background-color: #22d3ee;
}

:global(.strength-Strong)::-webkit-progress-value {
  background-color: var(--accent);
}

@media (max-width: 1199px) {
  :global(.password-strength-meter) {
    grid-column: 1/5;
    grid-row: 3;
  }
}
