html {
  --text: #c7c5fc;
  --background: #03063e;
  --primary: #a6a5d4;
  --secondary: #201c91;
  --accent: #67e14c;
  background-color: var(--background);
  color: var(--text);
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover,
a:focus {
  animation: 0.4s 0.2s forwards link-hover 1 normal;
}

@keyframes link-hover {
  100% {
    text-decoration: underline var(--accent);
  }
}
